h1 {
    font-family: "Kanit", sans-serif !important;
}
p {
    font-family: "Prompt", sans-serif !important;
}
li {
    font-family: "Prompt", sans-serif !important;
}
.textcontent p span {
    font-family: "Prompt", sans-serif !important;
}
h3 {
    font-family: "Kanit", sans-serif !important;

}
h2 {
    font-family: "Kanit", sans-serif !important;

}
@media (min-width: 1904px) {
.container {
    max-width: 100%;
}
}

@media screen and (max-width: 599px)  {
    .v-application--wrap  {
        min-height: 0 !important;
       }
       .mdi:before, .mdi-set {
        color: #000;
       }

    
}

// @media screen and (min-width: 768px) and (max-width: 991px)  {
//     .v-image__image, .v-image__placeholder {
      
       
//     }
    
// }
// @media screen and (max-width: 1420px)  {
//     .v-image__image, .v-image__placeholder {
      
       
//     }
    
// }
