h1 {
    font-family: "Kanit", sans-serif !important;
}
p {
    font-family: "Prompt", sans-serif !important;
}
li {
    font-family: "Prompt", sans-serif !important;
}
.textcontent p span {
    font-family: "Prompt", sans-serif !important;
}
